<?xml version="1.0" encoding="UTF-8"?>

<hibernate-configuration>
    <session-factory>
        <property name="connection.driver_class">com.mysql.cj.jdbc.Driver</property>
        <property name="connection.url">jdbc:mysql://localhost:3306/student_mgmt</property>
        <property name="connection.username">root</property>
        <property name="connection.password">********</property>
        <property name="dialect">org.hibernate.dialect.MySQL57Dialect</property>
        <property name="hbm2ddl.auto">update</property>
        <property name="show_sql">true</property>
        <property name="format_sql">true</property>
        <mapping class="com.demo.hibernate_ass.Student"/>
        <mapping class="com.demo.hibernate_ass.Course"/>
    </session-factory>
</hibernate-configuration>
